.navbar {
    height: 60px;
    width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(37, 64, 110, 0.204);
    opacity: 3; */
}
/* Link > :any-link {
    display: inline-block;
    text-align: right;
    position: relative;
     margin: 15px;
     color: rgb(152, 49, 49);
} */

/* .nav-links > .link:hover {
    color: rgb(152, 49, 49);
} */

.empa-logo {
    background-image:url(../../images/UnaMasEmpandaLogo.png);
    background-size: contain;
    background-position: center;

   
    background-repeat: no-repeat;
/*         font-weight: 700;
    font-size: 21px;
    margin: 15px;
    float: left;
    height: 100; */
}